<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<!-- Main Content -->
<main class="main-content">
  <section class="crop-management content-section" id="crop">
    <div class="container">
      <h2><img src="../assets/icons8-leaf-48.png" style="width: 40px; height: 40px; margin-right: 10px">Crop Management <button class="btn btn-secondary see-all-btn" style="padding-top: 3px; padding-left: 6px; padding-bottom: 3px; padding-right: 6px;" onclick="openCropsModal()">See All Crops</button></h2>
      <!-- Popup Modal -->
      <div id="cropsModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h3>All Crops</h3>
          <div class="table-responsive">
            <table class="table table-hover crop-table modal-table">
              <thead>
              <tr>
                <th>Crop Code</th>
                <th>Crop Common Name</th>
                <th>Crop Scientific Name</th>
                <th>Crop Image</th>
                <th>Category</th>
                <th>Crop Season</th>
                <th>Field Code</th>
              </tr>
              </thead>
              <tbody>
              <!-- Populate crop data dynamically here -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Select Crop Section -->
      <div class="form-section">
        <label for="crop-code">Select Crop - Enter Crop Code</label>
        <input type="text" class="form-control" id="crop-code" placeholder="Enter Crop Code">
        <!-- Update Existing Crop Section -->
        <h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Update Existing Crop</h3>
        <div class="form-section">
          <label for="update-crop-common-name">Crop Common Name</label>
          <input type="text" class="form-control" id="update-crop-common-name" placeholder="Enter Common Name">

          <label for="update-crop-scientific-name">Crop Scientific Name</label>
          <input type="text" class="form-control" id="update-crop-scientific-name" placeholder="Enter Scientific Name">

          <label for="update-crop-image">Crop Image</label>
          <input type="file" class="form-control" id="update-crop-image">

          <label for="update-category">Category</label>
          <input type="text" class="form-control" id="update-category" placeholder="Enter Category">

          <label for="update-crop-season">Crop Season</label>
          <input type="text" class="form-control" id="update-crop-season" placeholder="Enter Crop Season">

          <label for="update-field-code">Field Code</label>
          <input type="text" class="form-control" id="update-field-code" placeholder="Enter Field Code">

          <button class="btn btn-primary update-btn">Update</button>
        </div>
        <div class="table-responsive">
          <table class="table table-hover crop-table modal-table">
            <thead>
            <tr>
              <th>Crop Common Name</th>
              <th>Crop Scientific Name</th>
              <th>Crop Image</th>
              <th>Category</th>
              <th>Crop Season</th>
              <th>Field Code</th>
            </tr>
            </thead>
            <tbody>
            <!-- Dynamic crop data rows will go here -->
            </tbody>
          </table>
        </div>
        <button class="btn btn-danger delete-btn">Delete</button>
      </div>

      <!-- Add New Crop Section -->
      <h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Add New Crop</h3>
      <div class="form-section">
        <label for="crop-common-name">Crop Common Name</label>
        <input type="text" class="form-control" id="crop-common-name" placeholder="Enter Common Name">

        <label for="crop-scientific-name">Crop Scientific Name</label>
        <input type="text" class="form-control" id="crop-scientific-name" placeholder="Enter Scientific Name">

        <label for="crop-image">Crop Image</label>
        <input type="file" class="form-control" id="crop-image">

        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" placeholder="Enter Category">

        <label for="crop-season">Crop Season</label>
        <input type="text" class="form-control" id="crop-season" placeholder="Enter Crop Season">

        <label for="field-code">Field Code</label>
        <input type="text" class="form-control" id="field-code" placeholder="Enter Field Code">
        <p>You can see all fields here: <button class="btn btn-secondary see-all-fields-btn" style="padding-top: 3px; padding-left: 6px; padding-bottom: 3px; padding-right: 6px;" onclick="openFieldsModal()">
          See all fields here
        </button><br></p>
        <!-- Popup Modal -->
        <div id="fieldsModal" class="modal">
          <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3>All Fields</h3>
            <div class="table-responsive">
              <table class="table table-hover field-table modal-table">
                <thead>
                <tr>
                  <th>Field Code</th>
                  <th>Field Name</th>
                  <th>Field Location</th>
                  <th>Extent Size</th>
                  <th>Field Image1</th>
                  <th>Field Image2</th>
                  <th>Staff</th>
                </tr>
                </thead>
                <tbody>
                <!-- Populate crop data dynamically here -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <button class="btn btn-primary save-btn">Save</button>
      </div>
    </div>
  </section>
  <section class="equipment-management content-section" id="equipment">
    <div class="container">
      <h2><img src="../assets/icons8-leaf-48.png" style="width: 40px; height: 40px; margin-right: 10px">Equipment Management <button class="see-all-btn" onclick="openEquipmentModal()">See All Equipments</button></h2>
      <!-- Popup Modal -->
      <div id="equipmentsModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h3>All Equipments</h3>
          <table class="table table-hover crop-table modal-table" >
            <thead>
            <tr>
              <th>Equipment Id</th>
              <th>Equipment Name</th>
              <th>Equipment Type</th>
              <th>Equipment Status</th>
              <th>Staff Id</th>
              <th>Field Code</th>
            </tr>
            </thead>
            <tbody>
            <!-- Populate equipment data dynamically here -->
            </tbody>
          </table>
        </div>
      </div>
      <!-- Select Equipment Section -->
      <div class="form-section">
        <label for="equipment-id">Select Equipment - Enter Equipment Id</label>
        <input type="text" id="equipment-id" placeholder="Enter Equipment Id">
        <!-- Update Existing Equipment Section -->
        <h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Update Existing Equipment</h3>
        <div class="form-section">
          <label for="update-equipment-name">Equipment Name</label>
          <input type="text" id="update-equipment-name" placeholder="Enter Equipment Name">

          <label for="update-equipment-type">Equipment Type</label>
          <select id="update-equipment-type">
            <option value="ELECTRICAL">ELECTRICAL</option>
            <option value="MECHANICAL">MECHANICAL</option>
          </select>

          <label for="update-equipment-status">Equipment Status</label>
          <select id="update-equipment-status">
            <option value="AVAILABLE">AVAILABLE</option>
            <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
          </select>

          <label for="update-staff-id-equipment">Staff Id</label>
          <input type="text" id="update-staff-id-equipment" placeholder="Enter Staff Id">

          <label for="update-field-code-equipment">Field Code</label>
          <input type="text" id="update-field-code-equipment" placeholder="Enter Field Code">

          <button class="update-btn">Update</button>
        </div>
        <table class="equipment-table modal-table">
          <thead>
          <tr>
            <th>Equipment Id</th>
            <th>Equipment Name</th>
            <th>Equipment Type</th>
            <th>Equipment Status</th>
            <th>Staff Id</th>
            <th>Field Code</th>
          </tr>
          </thead>
          <tbody>
          <!-- Dynamic equipment data rows will go here -->
          </tbody>
        </table>
        <button class="delete-btn">Delete</button>
      </div>

      <!-- Add New Equipment Section -->
      <h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Add New Equipment</h3>
      <div class="form-section">
        <label for="equipment-name">Equipment Name</label>
        <input type="text" id="equipment-name" placeholder="Enter Equipment Name">

        <label for="equipment-type">Equipment Type</label>
        <select id="equipment-type">
          <option value="ELECTRICAL">ELECTRICAL</option>
          <option value="MECHANICAL">MECHANICAL</option>
        </select>

        <label for="equipment-status">Equipment Status</label>
        <select id="equipment-status">
          <option value="AVAILABLE">AVAILABLE</option>
          <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
        </select>

        <label for="staff-id-equipment">Staff Id</label>
        <input type="text" id="staff-id-equipment" placeholder="Enter Staff Id">
        <button class="see-all-staff-btn" onclick="openStaffModal()" style="background-color: #eeeeee; color: black; border: 1px solid black; padding: 5px 5px; cursor: pointer; ">
          See all Staff here
        </button><br>
        <!-- Popup Modal -->
        <div id="staffModal" class="modal">
          <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3>All Staff</h3>
            <table class="staff-table modal-table">
              <thead>
              <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Designation</th>
                <th>Gender</th>
                <th>Joined Date</th>
                <th>DOB</th>
                <th>Address Line1</th>
                <th>Address Line2</th>
                <th>Address Line3</th>
                <th>Address Line4</th>
                <th>Address Line5</th>
                <th>Contact No</th>
                <th>Email</th>
                <th>Role</th>
                <th>Vehicles</th>
              </tr>
              </thead>
              <tbody>
              <!-- Populate staff data dynamically here -->
              </tbody>
            </table>
          </div>
        </div>

        <label for="field-code-equipment">Field Code</label>
        <input type="text" id="field-code-equipment" placeholder="Enter Field Code">
        <button class="see-all-fields-btn" onclick="openFieldsModal()" style="background-color: #eeeeee; color: black; border: 1px solid black; padding: 5px 5px; cursor: pointer; ">
          See all fields here
        </button><br>
        <!-- Popup Modal -->
        <div id="fieldsModal-equipment" class="modal">
          <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3>All Fields</h3>
            <table class="field-table modal-table">
              <thead>
              <tr>
                <th>Field Code</th>
                <th>Field Name</th>
                <th>Field Location</th>
                <th>Extent Size</th>
                <th>Field Image1</th>
                <th>Field Image2</th>
                <th>Staff</th>
              </tr>
              </thead>
              <tbody>
              <!-- Populate crop data dynamically here -->
              </tbody>
            </table>
          </div>
        </div>
        <button class="save-btn">Save</button>
      </div>
    </div>
  </section>
  <section class="fields content-section" id="fields">
    <div class="container">
      <h2><img src="../assets/icons8-leaf-48.png" style="width: 40px; height: 40px; margin-right: 10px">Crop Management <button class="see-all-btn" onclick="openCropsModal()">See All Crops</button></h2>
      <!-- Popup Modal -->
      <!--<div id="cropsModal" class="modal">
          <div class="modal-content">
              <span class="close" onclick="closeModal()">&times;</span>
              <h3>All Crops</h3>
              <table class="crop-table modal-table">
                  <thead>
                  <tr>
                      <th>Crop Code</th>
                      <th>Crop Common Name</th>
                      <th>Crop Scientific Name</th>
                      <th>Crop Image</th>
                      <th>Category</th>
                      <th>Crop Season</th>
                      <th>Field Code</th>
                  </tr>
                  </thead>
                  <tbody>
                  &lt;!&ndash; Populate crop data dynamically here &ndash;&gt;
                  </tbody>
              </table>
          </div>
      </div>-->
      <!-- Select Crop Section -->
      <!--<div class="form-section">
          <label for="crop-code">Select Crop - Enter Crop Code</label>
          <input type="text" id="crop-code" placeholder="Enter Crop Code">
          &lt;!&ndash; Update Existing Crop Section &ndash;&gt;
          <h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Update Existing Crop</h3>
          <div class="form-section">
              <label for="update-crop-common-name">Crop Common Name</label>
              <input type="text" id="update-crop-common-name" placeholder="Enter Common Name">

              <label for="update-crop-scientific-name">Crop Scientific Name</label>
              <input type="text" id="update-crop-scientific-name" placeholder="Enter Scientific Name">

              <label for="update-crop-image">Crop Image</label>
              <input type="file" id="update-crop-image">

              <label for="update-category">Category</label>
              <input type="text" id="update-category" placeholder="Enter Category">

              <label for="update-crop-season">Crop Season</label>
              <input type="text" id="update-crop-season" placeholder="Enter Crop Season">

              <label for="update-field-code">Field Code</label>
              <input type="text" id="update-field-code" placeholder="Enter Field Code">

              <button class="update-btn">Update</button>
          </div>
          <table class="crop-table modal-table">
              <thead>
              <tr>
                  <th>Crop Common Name</th>
                  <th>Crop Scientific Name</th>
                  <th>Crop Image</th>
                  <th>Category</th>
                  <th>Crop Season</th>
                  <th>Field Code</th>
              </tr>
              </thead>
              <tbody>
              &lt;!&ndash; Dynamic crop data rows will go here &ndash;&gt;
              </tbody>
          </table>
          <button class="delete-btn">Delete</button>
      </div>-->

      <!-- Add New Crop Section -->
      <!--<h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Add New Crop</h3>
      <div class="form-section">
          <label for="crop-common-name">Crop Common Name</label>
          <input type="text" id="crop-common-name" placeholder="Enter Common Name">

          <label for="crop-scientific-name">Crop Scientific Name</label>
          <input type="text" id="crop-scientific-name" placeholder="Enter Scientific Name">

          <label for="crop-image">Crop Image</label>
          <input type="file" id="crop-image">

          <label for="category">Category</label>
          <input type="text" id="category" placeholder="Enter Category">

          <label for="crop-season">Crop Season</label>
          <input type="text" id="crop-season" placeholder="Enter Crop Season">

          <label for="field-code">Field Code</label>
          <input type="text" id="field-code" placeholder="Enter Field Code">
          <button class="see-all-fields-btn" onclick="openFieldsModal()" style="background-color: #eeeeee; color: black; border: 1px solid black; padding: 5px 5px; cursor: pointer; ">
              See all fields here
          </button><br>
          &lt;!&ndash; Popup Modal &ndash;&gt;
          <div id="fieldsModal" class="modal">
              <div class="modal-content">
                  <span class="close" onclick="closeModal()">&times;</span>
                  <h3>All Fields</h3>
                  <table class="field-table modal-table">
                      <thead>
                      <tr>
                          <th>Field Code</th>
                          <th>Field Name</th>
                          <th>Field Location</th>
                          <th>Extent Size</th>
                          <th>Field Image1</th>
                          <th>Field Image2</th>
                          <th>Staff</th>
                      </tr>
                      </thead>
                      <tbody>
                      &lt;!&ndash; Populate crop data dynamically here &ndash;&gt;
                      </tbody>
                  </table>
              </div>
          </div>
          <button class="save-btn">Save</button>
      </div>-->
    </div>
  </section>
  <section class="monitoring content-section" id="monitoring">
    <div class="container">
      <h2><img src="../assets/icons8-leaf-48.png" style="width: 40px; height: 40px; margin-right: 10px">Crop Management <button class="see-all-btn" onclick="openCropsModal()">See All Crops</button></h2>
      <!-- Popup Modal -->
      <!--<div id="cropsModal" class="modal">
          <div class="modal-content">
              <span class="close" onclick="closeModal()">&times;</span>
              <h3>All Crops</h3>
              <table class="crop-table modal-table">
                  <thead>
                  <tr>
                      <th>Crop Code</th>
                      <th>Crop Common Name</th>
                      <th>Crop Scientific Name</th>
                      <th>Crop Image</th>
                      <th>Category</th>
                      <th>Crop Season</th>
                      <th>Field Code</th>
                  </tr>
                  </thead>
                  <tbody>
                  &lt;!&ndash; Populate crop data dynamically here &ndash;&gt;
                  </tbody>
              </table>
          </div>
      </div>-->
      <!-- Select Crop Section -->
      <!--<div class="form-section">
          <label for="crop-code">Select Crop - Enter Crop Code</label>
          <input type="text" id="crop-code" placeholder="Enter Crop Code">
          &lt;!&ndash; Update Existing Crop Section &ndash;&gt;
          <h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Update Existing Crop</h3>
          <div class="form-section">
              <label for="update-crop-common-name">Crop Common Name</label>
              <input type="text" id="update-crop-common-name" placeholder="Enter Common Name">

              <label for="update-crop-scientific-name">Crop Scientific Name</label>
              <input type="text" id="update-crop-scientific-name" placeholder="Enter Scientific Name">

              <label for="update-crop-image">Crop Image</label>
              <input type="file" id="update-crop-image">

              <label for="update-category">Category</label>
              <input type="text" id="update-category" placeholder="Enter Category">

              <label for="update-crop-season">Crop Season</label>
              <input type="text" id="update-crop-season" placeholder="Enter Crop Season">

              <label for="update-field-code">Field Code</label>
              <input type="text" id="update-field-code" placeholder="Enter Field Code">

              <button class="update-btn">Update</button>
          </div>
          <table class="crop-table modal-table">
              <thead>
              <tr>
                  <th>Crop Common Name</th>
                  <th>Crop Scientific Name</th>
                  <th>Crop Image</th>
                  <th>Category</th>
                  <th>Crop Season</th>
                  <th>Field Code</th>
              </tr>
              </thead>
              <tbody>
              &lt;!&ndash; Dynamic crop data rows will go here &ndash;&gt;
              </tbody>
          </table>
          <button class="delete-btn">Delete</button>
      </div>-->

      <!-- Add New Crop Section -->
      <!--<h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Add New Crop</h3>
      <div class="form-section">
          <label for="crop-common-name">Crop Common Name</label>
          <input type="text" id="crop-common-name" placeholder="Enter Common Name">

          <label for="crop-scientific-name">Crop Scientific Name</label>
          <input type="text" id="crop-scientific-name" placeholder="Enter Scientific Name">

          <label for="crop-image">Crop Image</label>
          <input type="file" id="crop-image">

          <label for="category">Category</label>
          <input type="text" id="category" placeholder="Enter Category">

          <label for="crop-season">Crop Season</label>
          <input type="text" id="crop-season" placeholder="Enter Crop Season">

          <label for="field-code">Field Code</label>
          <input type="text" id="field-code" placeholder="Enter Field Code">
          <button class="see-all-fields-btn" onclick="openFieldsModal()" style="background-color: #eeeeee; color: black; border: 1px solid black; padding: 5px 5px; cursor: pointer; ">
              See all fields here
          </button><br>
          &lt;!&ndash; Popup Modal &ndash;&gt;
          <div id="fieldsModal" class="modal">
              <div class="modal-content">
                  <span class="close" onclick="closeModal()">&times;</span>
                  <h3>All Fields</h3>
                  <table class="field-table modal-table">
                      <thead>
                      <tr>
                          <th>Field Code</th>
                          <th>Field Name</th>
                          <th>Field Location</th>
                          <th>Extent Size</th>
                          <th>Field Image1</th>
                          <th>Field Image2</th>
                          <th>Staff</th>
                      </tr>
                      </thead>
                      <tbody>
                      &lt;!&ndash; Populate crop data dynamically here &ndash;&gt;
                      </tbody>
                  </table>
              </div>
          </div>
          <button class="save-btn">Save</button>
      </div>-->
    </div>
  </section>
  <section class="staff content-section" id="staff">
    <div class="container">
      <h2><img src="../assets/icons8-leaf-48.png" style="width: 40px; height: 40px; margin-right: 10px">Staff Management <button class="see-all-btn" onclick="openCropsModal()">See All Crops</button></h2>
      <!-- Popup Modal -->
      <!--<div id="cropsModal" class="modal">
          <div class="modal-content">
              <span class="close" onclick="closeModal()">&times;</span>
              <h3>All Crops</h3>
              <table class="crop-table modal-table">
                  <thead>
                  <tr>
                      <th>Crop Code</th>
                      <th>Crop Common Name</th>
                      <th>Crop Scientific Name</th>
                      <th>Crop Image</th>
                      <th>Category</th>
                      <th>Crop Season</th>
                      <th>Field Code</th>
                  </tr>
                  </thead>
                  <tbody>
                  &lt;!&ndash; Populate crop data dynamically here &ndash;&gt;
                  </tbody>
              </table>
          </div>
      </div>-->
      <!-- Select Crop Section -->
      <!--<div class="form-section">
          <label for="crop-code">Select Crop - Enter Crop Code</label>
          <input type="text" id="crop-code" placeholder="Enter Crop Code">
          &lt;!&ndash; Update Existing Crop Section &ndash;&gt;
          <h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Update Existing Crop</h3>
          <div class="form-section">
              <label for="update-crop-common-name">Crop Common Name</label>
              <input type="text" id="update-crop-common-name" placeholder="Enter Common Name">

              <label for="update-crop-scientific-name">Crop Scientific Name</label>
              <input type="text" id="update-crop-scientific-name" placeholder="Enter Scientific Name">

              <label for="update-crop-image">Crop Image</label>
              <input type="file" id="update-crop-image">

              <label for="update-category">Category</label>
              <input type="text" id="update-category" placeholder="Enter Category">

              <label for="update-crop-season">Crop Season</label>
              <input type="text" id="update-crop-season" placeholder="Enter Crop Season">

              <label for="update-field-code">Field Code</label>
              <input type="text" id="update-field-code" placeholder="Enter Field Code">

              <button class="update-btn">Update</button>
          </div>
          <table class="crop-table modal-table">
              <thead>
              <tr>
                  <th>Crop Common Name</th>
                  <th>Crop Scientific Name</th>
                  <th>Crop Image</th>
                  <th>Category</th>
                  <th>Crop Season</th>
                  <th>Field Code</th>
              </tr>
              </thead>
              <tbody>
              &lt;!&ndash; Dynamic crop data rows will go here &ndash;&gt;
              </tbody>
          </table>
          <button class="delete-btn">Delete</button>
      </div>-->

      <!-- Add New Crop Section -->
      <!--<h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Add New Crop</h3>
      <div class="form-section">
          <label for="crop-common-name">Crop Common Name</label>
          <input type="text" id="crop-common-name" placeholder="Enter Common Name">

          <label for="crop-scientific-name">Crop Scientific Name</label>
          <input type="text" id="crop-scientific-name" placeholder="Enter Scientific Name">

          <label for="crop-image">Crop Image</label>
          <input type="file" id="crop-image">

          <label for="category">Category</label>
          <input type="text" id="category" placeholder="Enter Category">

          <label for="crop-season">Crop Season</label>
          <input type="text" id="crop-season" placeholder="Enter Crop Season">

          <label for="field-code">Field Code</label>
          <input type="text" id="field-code" placeholder="Enter Field Code">
          <button class="see-all-fields-btn" onclick="openFieldsModal()" style="background-color: #eeeeee; color: black; border: 1px solid black; padding: 5px 5px; cursor: pointer; ">
              See all fields here
          </button><br>
          &lt;!&ndash; Popup Modal &ndash;&gt;
          <div id="fieldsModal" class="modal">
              <div class="modal-content">
                  <span class="close" onclick="closeModal()">&times;</span>
                  <h3>All Fields</h3>
                  <table class="field-table modal-table">
                      <thead>
                      <tr>
                          <th>Field Code</th>
                          <th>Field Name</th>
                          <th>Field Location</th>
                          <th>Extent Size</th>
                          <th>Field Image1</th>
                          <th>Field Image2</th>
                          <th>Staff</th>
                      </tr>
                      </thead>
                      <tbody>
                      &lt;!&ndash; Populate crop data dynamically here &ndash;&gt;
                      </tbody>
                  </table>
              </div>
          </div>
          <button class="save-btn">Save</button>
      </div>-->
    </div>
  </section>
  <section class="vehicles content-section" id="vehicles">
    <div class="container">
      <h2><img src="../assets/icons8-leaf-48.png" style="width: 40px; height: 40px; margin-right: 10px">Crop Management <button class="see-all-btn" onclick="openCropsModal()">See All Crops</button></h2>
      <!-- Popup Modal -->
      <!--<div id="cropsModal" class="modal">
          <div class="modal-content">
              <span class="close" onclick="closeModal()">&times;</span>
              <h3>All Crops</h3>
              <table class="crop-table modal-table">
                  <thead>
                  <tr>
                      <th>Crop Code</th>
                      <th>Crop Common Name</th>
                      <th>Crop Scientific Name</th>
                      <th>Crop Image</th>
                      <th>Category</th>
                      <th>Crop Season</th>
                      <th>Field Code</th>
                  </tr>
                  </thead>
                  <tbody>
                  &lt;!&ndash; Populate crop data dynamically here &ndash;&gt;
                  </tbody>
              </table>
          </div>
      </div>-->
      <!-- Select Crop Section -->
      <!--<div class="form-section">
          <label for="crop-code">Select Crop - Enter Crop Code</label>
          <input type="text" id="crop-code" placeholder="Enter Crop Code">
          &lt;!&ndash; Update Existing Crop Section &ndash;&gt;
          <h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Update Existing Crop</h3>
          <div class="form-section">
              <label for="update-crop-common-name">Crop Common Name</label>
              <input type="text" id="update-crop-common-name" placeholder="Enter Common Name">

              <label for="update-crop-scientific-name">Crop Scientific Name</label>
              <input type="text" id="update-crop-scientific-name" placeholder="Enter Scientific Name">

              <label for="update-crop-image">Crop Image</label>
              <input type="file" id="update-crop-image">

              <label for="update-category">Category</label>
              <input type="text" id="update-category" placeholder="Enter Category">

              <label for="update-crop-season">Crop Season</label>
              <input type="text" id="update-crop-season" placeholder="Enter Crop Season">

              <label for="update-field-code">Field Code</label>
              <input type="text" id="update-field-code" placeholder="Enter Field Code">

              <button class="update-btn">Update</button>
          </div>
          <table class="crop-table modal-table">
              <thead>
              <tr>
                  <th>Crop Common Name</th>
                  <th>Crop Scientific Name</th>
                  <th>Crop Image</th>
                  <th>Category</th>
                  <th>Crop Season</th>
                  <th>Field Code</th>
              </tr>
              </thead>
              <tbody>
              &lt;!&ndash; Dynamic crop data rows will go here &ndash;&gt;
              </tbody>
          </table>
          <button class="delete-btn">Delete</button>
      </div>-->

      <!-- Add New Crop Section -->
      <!--<h3><img src="../assets/icons8-natural-food-50%20(1).png" style="width: 20px; height: 20px; margin-right: 10px">Add New Crop</h3>
      <div class="form-section">
          <label for="crop-common-name">Crop Common Name</label>
          <input type="text" id="crop-common-name" placeholder="Enter Common Name">

          <label for="crop-scientific-name">Crop Scientific Name</label>
          <input type="text" id="crop-scientific-name" placeholder="Enter Scientific Name">

          <label for="crop-image">Crop Image</label>
          <input type="file" id="crop-image">

          <label for="category">Category</label>
          <input type="text" id="category" placeholder="Enter Category">

          <label for="crop-season">Crop Season</label>
          <input type="text" id="crop-season" placeholder="Enter Crop Season">

          <label for="field-code">Field Code</label>
          <input type="text" id="field-code" placeholder="Enter Field Code">
          <button class="see-all-fields-btn" onclick="openFieldsModal()" style="background-color: #eeeeee; color: black; border: 1px solid black; padding: 5px 5px; cursor: pointer; ">
              See all fields here
          </button><br>
          &lt;!&ndash; Popup Modal &ndash;&gt;
          <div id="fieldsModal" class="modal">
              <div class="modal-content">
                  <span class="close" onclick="closeModal()">&times;</span>
                  <h3>All Fields</h3>
                  <table class="field-table modal-table">
                      <thead>
                      <tr>
                          <th>Field Code</th>
                          <th>Field Name</th>
                          <th>Field Location</th>
                          <th>Extent Size</th>
                          <th>Field Image1</th>
                          <th>Field Image2</th>
                          <th>Staff</th>
                      </tr>
                      </thead>
                      <tbody>
                      &lt;!&ndash; Populate crop data dynamically here &ndash;&gt;
                      </tbody>
                  </table>
              </div>
          </div>
          <button class="save-btn">Save</button>
      </div>-->
    </div>
  </section>
</main>
</body>
</html>